@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  font-family: "Microsoft Yahei","Open Sans","Helvetica Neue","Helvetica",微软雅黑,tahoma,arial,宋体\5b8b\4f53; }

body, button, input, select, textarea {
  font: 14px/1.5 "Microsoft Yahei","Open Sans","Helvetica Neue","Helvetica",微软雅黑,tahoma,arial,宋体\5b8b\4f53; }

input, select, textarea {
  font-size: 100%; }

.web_font {
  font-family: "webfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: 0; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

q:before, q:after {
  content: ''; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

a:hover {
  text-decoration: none; }

ins, a {
  text-decoration: none; }

.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.fn-clear {
  zoom: 1; }

body .fn-hide {
  display: none; }

.fn-left, .fn-right {
  display: inline; }

.fn-left {
  float: left; }

.fn-right {
  float: right; }
